body {
    font-family: helvetica, arial, sans;
}

/* login styles */
 .login-wrapper,
 .logout-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.login-container,
.logout-container {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.login-container h2,
.logout-container h2 {
  text-align: center;
  margin-bottom: 12px;
  color: #333333;
}

.input-group {
  margin-bottom: 10px;
  margin-right: 24px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555555;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #007BFF;
  outline: none;
}

.login-button,
.logout-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover,
.logout-button:hover {
  background-color: #0056b3;
}